body{
    background-color: rgb(125, 156, 167);
    font: bolder 15pt arial;
    color: white;
}

header{
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    color: black;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}

#msg{
    text-align: center;
}

#foto{
    background-image: url('../ex014/imagens/manha.jpg');
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 250px;
    border-radius: 150px;
    margin: 10px;
    align-items: center;
}

footer{
    text-align: center;
}